:root {
    --White: hsl(0, 0%, 100%);
    --Red: hsl(0, 100%, 66%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    
}

body {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hero-image {
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 100vh;
}

.notif-container {
    position: absolute;
    bottom: -10rem;
    left: 8rem;
    transform: translateY(-50%);
    transition: all 2.8s ease;
    z-index: 9;
}

.active {
    bottom: 0rem;
}

.text-container {
    max-width: 30rem;
    min-height: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--Light-grayish-violet);
}

.text-container::before {
    content: "";
    width: 0rem;
    height: 0rem;
    position: absolute;
    border-left: 1rem solid transparent;
    border-right: 1rem solid var(--Light-grayish-violet);
    border-top: 1rem solid var(--Light-grayish-violet);
    border-bottom: 1rem solid transparent;
    left: -1.5rem;
    top: 1.5rem;
}

.close-img {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: auto;
    max-width: 1rem;
    cursor: pointer;
}

.profile-pic {
    width: 5rem;
    height: auto;
    position: absolute;
    left: -7rem;
}

.profile-pic > img {
    border-radius: 50%;
}

.cards-graphics {
    padding: 6rem 8rem;
    max-height: 100vh;

}

img {
    max-width: 100%;
    display: block;
}

.card-graphic-front,
.card-graphic-back {
    width: min-content;
    position: relative;
    color: var(--White);
}

.card-graphic-front > *:not(.bg-front),
.card-graphic-back > *:not(.bg-back) {
    position: absolute;
}

.bg-front,
.bg-back {
    max-width: revert;
}

.logo {
    left: 2rem;
    top: 2rem;
}

.front-number {
    font-size: 1.8rem;
    left: 2rem;
    top: 50%;
}

.front-name {
    left: 2rem;
    bottom: 2rem;
}

.front-exp {
    right: 2rem;
    bottom: 2rem;
}

.card-graphic-back {
    margin: 2rem 6rem;
}

.back-number {
    top: 45%;
    right: 3rem;
}

.input-container {
    width: 25rem;
    position: absolute;
    right: 10%;
    top: 25%;
}

label {
    text-transform: uppercase;
    font-size: 0.9rem;
    
}

.cvc-label {
    margin-left: 2rem;
}

input {
    margin-top: 0.5rem;
    height: 2.5rem;
    border: 1px solid var(--Light-grayish-violet);
    border-radius: 0.3rem;
    transition: 0.1s;
    outline: none;
}

input:focus {
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border: 2px solid transparent;
}

.error-text {
    width: 10rem;
    font-size: 0.8rem;
    color: var(--Red);
    
}

.field-group1, .field-group2 {
    margin-top: 1rem;
}

.field-group2 > #yy-number, #cvc-number{
    margin-left: 1rem;
}

.name-ch, .card-number {
    width: 18rem;
}

.mm-number, .yy-number {
    width: 4rem;
}

.cvc-number {
    width: 7.5rem;
    margin-left: 2rem;
}

#btn-submit {
    margin-top: 1rem;
    width: 18rem;
    height: 2.5rem;
    color: var(--White);
    background-color: var(--Very-dark-violet);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}

#btn-submit:hover {
    background-color: var(--Dark-grayish-violet);
}

.ty-container {
    width: 25rem;
    position: absolute;
    right: 15%;
    top: 25%;
    text-align: center;
}

.img-complete {
    margin-left: 10.3rem;
    margin-bottom: 2rem;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
}

.small-text {
    color: var(--Dark-grayish-violet);
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

#btn-continue {
    margin-top: 1rem;
    width: 18rem;
    height: 2.5rem;
    color: var(--White);
    background-color: var(--Very-dark-violet);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}

#btn-continue:hover {
    background-color: var(--Dark-grayish-violet);
}

.hidden{
    display:none;
}


@media (max-width: 83em) {
    .hero-image {
        width: 100vw;
        height: 30vh;
    }

    .notif-container {
        position: absolute;
        top: 70rem;
        transform: translateY(-50%);
        transition: all 2.8s ease;
        z-index: 9;
        margin-right: 1rem;
        max-width: 16rem;
    }

    .notif-container > * :not(.text-container::before),
    .notif-container > * :not(.close-img) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .active {
        top: 38rem;
        
    }
    
    #notif-text {
        font-size: 0.7rem;
    }

    .cards-graphics {
        position: relative;
        display: block;
        max-width: 40rem;
        margin: 0rem auto;
        padding: 0;
        height: 20rem;
        width: 20rem;
        
    }

    .card-graphic-front,
    .card-graphic-back {
        width: max-content;
    }
    
    .card-graphic-front {
        margin: 0rem 1rem;
        position: absolute;
        z-index: 9;
        top: 7rem;
        left: auto;
        
    }

    .card-graphic-back {
        margin: 0rem 1rem;
        position: absolute;
        top: 1rem;
        right: 0rem;
    }

    .bg-front,
    .bg-back {
        max-width: 16rem;
    }

    .logo {
        max-height: 15%;
        max-width: 15%;
    }

    .front-number {
        font-size: 1.2rem;
    }

    .front-name {
        font-size: 0.8rem;
    }

    .front-exp {
        right: 2.5rem;
        bottom: 2rem;
        font-size: 0.8rem;
    }

    .back-number {
        top: 45%;
        right: 2.5rem;
        font-size: 0.8rem;
    }

    .input-container {
        width: 18rem;
        position: absolute;
        top: 28rem;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .cvc-number {
        width: 7.3rem;
        margin-left: 2rem;
    }

    .ty-container {
        width: 18rem;
        position: absolute;
        top: 28rem;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .img-complete {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}
