:root {
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.hero-image {
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    height: 100vh;
}

.cards-graphics {
    padding: 6rem 8rem;
}

img {
    max-width: 100%;
    display: block;
}

.card-graphic-front,
.card-graphic-back {
    width: min-content;
    position: relative;
    color: var(--White);
}

.card-graphic-front > *:not(.bg-front),
.card-graphic-back > *:not(.bg-back) {
    position: absolute;
}

.bg-front,
.bg-back {
    max-width: revert;
}

.logo {
    left: 2rem;
    top: 2rem;
}

.front-number {
    font-size: 1.8rem;
    left: 2rem;
    top: 50%;
}

.front-name {
    left: 2rem;
    bottom: 2rem;
}

.front-exp {
    right: 2rem;
    bottom: 2rem;
}

.card-graphic-back {
    margin: 2rem 6rem;
}

.back-number {
    top: 45%;
    right: 3rem;
}

.input-container {
    width: 25rem;
    position: absolute;
    right: 10rem;
    top: 15rem;
}

input {
    width: 18rem;
    
}
