:root {
    --White: hsl(0, 0%, 100%);
    --Red: hsl(0, 100%, 66%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    position: relative;
    overflow-y: hidden;
}

.hero-image {
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 100vh;
}

.notif-container {
    position: absolute;
    bottom: -10rem;
    left: 8rem;
    transform: translateY(-50%);
    transition: all 2.8s ease;
    z-index: 9;
}

.active {
    bottom: 0rem;
}

.text-container {
    width: 30rem;
    min-height: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--Light-grayish-violet);
}

.text-container::before {
    content: "";
    width: 0rem;
    height: 0rem;
    position: absolute;
    border-left: 1rem solid transparent;
    border-right: 1rem solid var(--Light-grayish-violet);
    border-top: 1rem solid var(--Light-grayish-violet);
    border-bottom: 1rem solid transparent;
    left: -1.5rem;
    top: 1.5rem;
}

.close-img {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: auto;
    width: 1rem;
    cursor: pointer;
}

.profile-pic {
    width: 5rem;
    height: auto;
    position: absolute;
    right: 32rem;
}

.profile-pic > img {
    border-radius: 50%;
}

.cards-graphics {
    padding: 6rem 8rem;
}

img {
    max-width: 100%;
    display: block;
}

.card-graphic-front,
.card-graphic-back {
    width: min-content;
    position: relative;
    color: var(--White);
}

.card-graphic-front > *:not(.bg-front),
.card-graphic-back > *:not(.bg-back) {
    position: absolute;
}

.bg-front,
.bg-back {
    max-width: revert;
}

.logo {
    left: 2rem;
    top: 2rem;
}

.front-number {
    font-size: 1.8rem;
    left: 2rem;
    top: 50%;
}

.front-name {
    left: 2rem;
    bottom: 2rem;
}

.front-exp {
    right: 2rem;
    bottom: 2rem;
}

.card-graphic-back {
    margin: 2rem 6rem;
}

.back-number {
    top: 45%;
    right: 3rem;
}

.input-container {
    width: 25rem;
    position: absolute;
    right: 10%;
    top: 25%;
}

label {
    text-transform: uppercase;
    font-size: 0.9rem;
    
}

.cvc-label {
    margin-left: 2rem;
}

input {
    margin-top: 0.5rem;
    height: 2.5rem;
    border: 1px solid var(--Light-grayish-violet);
    border-radius: 0.3rem;
    transition: 0.1s;
    outline: none;
}

input:focus {
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border: 2px solid transparent;
}

.error-text {
    width: 10rem;
    font-size: 0.8rem;
    color: var(--Red);
    
}

.field-group1, .field-group2 {
    margin-top: 1rem;
}

.field-group2 > #yy-number, #cvc-number{
    margin-left: 1rem;
}

.name-ch, .card-number {
    width: 18rem;
}

.mm-number, .yy-number {
    width: 4rem;
}

.cvc-number {
    width: 7.5rem;
    margin-left: 2rem;
}

#btn-submit {
    margin-top: 1rem;
    width: 18rem;
    height: 2.5rem;
    color: var(--White);
    background-color: var(--Very-dark-violet);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}

#btn-submit:hover {
    background-color: var(--Dark-grayish-violet);
}

.ty-container {
    width: 25rem;
    position: absolute;
    right: 15%;
    top: 25%;
    text-align: center;
}

.img-complete {
    margin-left: 10.3rem;
    margin-bottom: 2rem;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
}

.small-text {
    color: var(--Dark-grayish-violet);
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

#btn-continue {
    margin-top: 1rem;
    width: 18rem;
    height: 2.5rem;
    color: var(--White);
    background-color: var(--Very-dark-violet);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}

#btn-continue:hover {
    background-color: var(--Dark-grayish-violet);
}

.hidden{
    display:none;
}

